page-home {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  td,
  th {
    text-align: left;
    padding: 10px;
  }

  .longHeader {
    min-width: 200px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  };

  ion-fab[middle] {
    background-color: #A8A8A8;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: red;
  }
}
